<!doctype html>
<title>{% block title %}{% endblock %} МООК</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_for_self.css') }}">

<nav>
  <!-- <h1><a class="action" href="{{ url_for('test.self_learning')}}">MOOK по углубленному изучению языка SQL</a></h1> -->
  <h1><a class="action" href="/wmode/self_learning?id_praktiki={{id_praktiki}}">MOOK по углубленному изучению языка SQL</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['f'] }} {{ g.user['n'] }} {{ g.user['p'] }} </span>


      <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Зарегестрироваться</a>
      <li><a href="{{ url_for('auth.login') }}">Войти</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>