{% extends 'base.html' %}



{% block content %}
  {% for question in questions %}
    <form method="post">
        <!-- <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required> -->
        <label for="body">{{ question['body'] }}</label>
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
        <input type="submit" value="Submit answer">
        <input type="hidden" name="questionId" value="{{ question['id'] }}">
    </form>
    <a class="action" href="{{ url_for('test.is_checked', question_id=question['id']) }}">IsChecked?</a>
    <a href="/wmode">доступные режимы</a>

    {% block answerResult %} {% endblock %}
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}