{% extends 'base.html' %}
{#{% extends 'test/index.html' %}#}


{% block header %}
  <h1>{% block title %}Answer to question {{ answer['question_id'] }}{% endblock %}</h1>
{% endblock %}


{#{% block answerResult %}#}
{% block content%}
  {% if answer['body'] %}
    <p> your answer: {{ answer['body'] }}</p>
  {% else %}
    <p>NO ANSWER!</p>
  {% endif %}
  {% if answer['result'] %}
    <p> {{ answer['result'] }}</p>
  {% else %}
    <p>No result yet!</p>
  {% endif %}
{% endblock %}