{% extends 'base.html' %}



{% block content %}
<div>
    блок с видео
</div>
<div>
    <p>
        {{data['topic_description']}}
    </p>
</div>
<div>
    <a href="/wmode/training"> перейти к тренеровке урока {{lesson_id}} </a> 
</div>



{% endblock %}