{% extends 'base_for_self.html' %}



{% block content %}
<form method="post" >
    <p> дать запрос на защиту студенту
        <p>
            <label for="fio">фамилия</label> 
        </p>
    </p>
        <textarea name="fio" id="fio">{{ request.form['fio'] }}</textarea>
    <p>  <label for="grp">группа</label> </p>
        <textarea name="grp" id="grp">{{ request.form['grp'] }}</textarea>
    <p>  <label for="faculty">факультет</label> </p>
        <textarea name="faculty" id="faculty">{{ request.form['faculty'] }}</textarea>
    <p>  <label for="nlr">номер лр</label> </p>
        <textarea name="nlr" id="nlr">{{ request.form['nlr'] }}</textarea>
    <input name="give_ex_to_dif" type="submit" value="дать запрос на защиту">  
</form>
<form method="post">
    <label >назначить кр</label> 
    <p>  <label for="grp">группа</label> </p>
        <textarea name="grp" id="grp">{{ request.form['grp'] }}</textarea>
    <p>  <label for="faculty">факультет</label> </p>
        <textarea name="faculty" id="faculty">{{ request.form['faculty'] }}</textarea>
    <p><input name="give_ex_to_test" type="submit" value="назначить контрольную работу"></p>   
</form>
    
    <div>
        посмотреть информацию о студенте
    </div>
    <div>
        <a href="/wmode">доступные режимы</a>
    </div>

{% endblock %}