{% extends 'base_for_debug.html' %}



{% block content %}

<div style="font-size: 20" class="container">
  <button style="font-size:22px"> <a  href="/wmode/debug/start" >Начать</a></button>
  <t style="font-size:18px" > - При нажатии на эту кнопку вам будет предложено ввести данные для выборки задачи, которую вы хотите отладить.
</t>
<div>
  <button style="font-size:22px"> <a href="/wmode/debug/continue" >Продолжить</a></button>
  <t style="font-size:18px" >
    - Если вы случайно закрыли приложение или вышли из него, вы можете нажать на кнопку продолжить и вернуться к полученной задаче. 
  </t>
</div>
<div>
  <button style="font-size:22px">  <a href = "/wmode/mysolutions">Просмотр результов</a></button>
  <t style="font-size:18px" >
    - Здесь вы можете посмотреть результаты своих решений. 
  </t>
</div>
{% endblock %}