{% extends 'base_for_debug.html' %}



{% block content %}

<form method="post">
        <label style="font-size:24px">На этой странице, вы указываете данные, для выборки задания на отладку. 
            Укажите №лабораторной работы, №примера и №задания лабораторной работы одним числом. </label>    
    <p> 
        <label style="font-size:22px" >Номер лабороторной работы|    </label> 
        <label style="font-size:22px" >Номер варинта лабораторной работы|</label>
        <label style="font-size:22px" >Номер задания</label>
     </p>
     <p> 
        <textarea style="font-size:20px; min-height: 1em; max-width: 2em;" name="number_lr" id="number_lr">{{ request.form['number_lr'] }}</textarea>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
        <textarea style="font-size:20px; min-height: 1em; max-width: 2em;" name="variant" id="variant">{{ request.form['variant'] }}</textarea>ㅤㅤㅤㅤㅤㅤㅤㅤ
        <textarea style="font-size:20px; min-height: 1em; max-width: 2em;" name="assignment_number_lr" id="assignment_number_lr">{{ request.form['assignment_number_lr'] }}</textarea>  
     </p>
    <p>
        <input style="font-size:20px" name="take_for_debbag" type="submit" value="Взять задание на отладку"></p>   
    <div>

    </div>
    <label style="font-size:20px" for="body">{{ exercise[0]['problem_statement'] }}</label>
    <textarea style="font-size:20px" name="body" id="body">{{ request.form['body'] }}</textarea>
    <input style="font-size:20px" type="submit" value="Отправить">
</form>


{% endblock %}