{% extends 'base_for_defence.html' %}



{% block content %}
<form method="post">
    <label style="font-size:22px" for="number_lr">Введите номер лабораторной работы</label>
    <textarea style="font-size:20px; min-height: 1em; max-width: 2em;" name="number_lr" id="number_lr" >{{ request.form['number_lr'] }}</textarea>
    <input style="font-size:20px" type="submit" value="Получить">
    <t style="font-size:20px" >После нажатия кнопки "Получить", вам будет выдана задача на защиту. Если вы не успеете отправить задание на проверку до конца занятия, окно автоматически закроется.</t>
</form>    
{% endblock %}
