{% extends 'base_for_test.html' %}


{% block content %}
<div style="font-size: 24px;">
    У вас уже есть задание, нажмите 
    <button style="font-size:22px"><a href="/wmode/test/continue">продолжить</a></button>
</div>

{% endblock %}