{% extends 'base_for_self.html' %}



{% block content %}
<div style="font-size: 24px;">
    У вас уже есть задание, нажмите  
    <button style="font-size:22px"><a href="/wmode/training/continue?id_praktiki={{id_praktiki}}&token={{token}}">Продолжить</a></button>
</div>


{% endblock %}