{% extends 'base_for_defence.html' %}


{% block content %}
<div style="font-size: 24px;">
    У вас уже есть задание, нажмите 
    <button style="font-size:22px"> <a href="/wmode/defence/continue">продолжить</a></button>
</div>

{% endblock %}