{% extends 'base_for_debug.html' %}



{% block content %}
<div style="font-size: 24px;">
    У вас уже есть задание, нажмите 
    <button style="font-size:22px"> <a href="/wmode/debug/continue" >Продолжить</a></button>
</div>

{% endblock %}