{% extends 'base_for_self.html' %}



{% block content %}
  {% for solution in solutions %}
    <form style="font-size: 20px" method="post">
        <label for="body">Задание:  {{ solution['problem_statement'] }}</label>
        <label for="body">Тип задания:  {{ solution['usage_mode'] }}</label>
        <label for="body">Ваш ответ:  {{ solution['sql_query'] }}</label>
        <label for="body">Состояние:  {{ solution['condition'] }}</label>
        <label for="body">Результат:  {{ solution['result'] }}</label>
        <label for="body">Ошибка:  {{ solution['message_error'] }}</label>
    </form>
    {% block answerResult %} {% endblock %}
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}