{% extends 'base_for_self.html' %}



{% block content %}
<h1>
    Тема урока - {{ data['topic_name'] }}
</h1>
<div class="button7">
    <div>
        <button style="font-size:22px"><a  href="/wmode/training/start?id_praktiki={{id_praktiki}}" class="button7">Начать</a></button>
        <t style="font-size:18px" > - При нажатии на эту кнопку вам будет выдано задание по теме, которую вы проходите. Пока вы не отправите решение, у вас не будет возможности получить новое задание. 
            Чтобы получить доступ к задачам следующего урока, вам необходимо решить минимум 2 задачи на заданную тему. 
        </t>
    </div>
    <div>
        <button style="font-size:22px"><a href="/wmode/training/continue?id_praktiki={{id_praktiki}}" class="button7">Продолжить</a></button>
        <t style="font-size:18px" >
        - Если вы случайно закрыли приложение или вышли из него, вы можете нажать на кнопку продолжить и вернуться к полученной задаче. 
        </t>
    </div>
    <div>
        <button style="font-size:22px">  <a href = "/wmode/mysolutions?id_praktiki={{id_praktiki}}">Просмотр результов</a></button>
        <t style="font-size:18px" >
          - Здесь вы можете посмотреть результаты своих решений. 
        </t>
      </div>
</div>

{% endblock %}