{% extends 'base_for_test.html' %}



{% block content %}



<div style="font-size: 20" class="container">
    <button style="font-size:22px"> <a  href="/wmode/test/start" >Начать</a></button>
    <t style="font-size:18px" > - При нажатии на эту кнопку вам будет выдано задание. Вам дается 90 минут на решение этого задания.
       Когда время выйдет, окно закроется автоматически.
  </t>
</div>
  <div>
    <button style="font-size:22px"> <a href="/wmode/test/continue">Продолжить</a></button>
    <t style="font-size:18px" >
      - Если вы случайно закрыли приложение или вышли из него, вы можете нажать на кнопку продолжить и вернуться к полученной задаче. 
    </t>
  </div>

 
{% endblock %}