{% extends 'base_for_test.html' %}


{% block content %}

<form method="post">
    <div style="font-size:20px; display: inline;" id ="timediv" >
        <span  style="font-size:20px; display: inline;" value="345"> Оставшееся время </span>
        <span  style="font-size:20px; display: inline;" id="time" > 90 </span>
        <span  style="font-size:20px; display: inline;" value="345"> минут </span>
    </div>
    
    <label style="font-size:20px" for="body">{{ exercise['problem_statement'] }}</label>
    <textarea style="font-size:20px" name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Отправить">
    <input type="hidden" name="questionId" value="{{exercise['id'] }}">
</form >
  
  <script>
    let timeout = setTimeout(function(){
        window.location.href = '{{ url_for("test.test_get")}}';
    }, document.getElementById("time").innerHTML * 1000* 60);

    function loadlink(){
        now = document.getElementById("time").innerHTML
        now = now - 1
        document.getElementById("time").innerHTML = now;
    }
    
    setInterval(function(){
        loadlink() 
    }, 1000 * 60);

</script>

{% endblock %}