{% extends 'base_for_self.html' %}



{% block content %}
<form method="post">
    <label style="font-size:20px" for="body">{{ exercise['problem_statement'] }}</label>
    <textarea  style="font-size:20px" name="body" id="body">{{ request.form['body'] }}</textarea>
    <input  style="font-size:20px" type="submit" value="Отправить">
    <input type="hidden" name="id_praktiki" value="1">
    <input type="hidden" name="id_assignment" value = "{{ id_assignment }} ">
</form>



{% endblock %}