{% extends 'base_for_self.html' %}



{% block content %}

<div>
    <a  href="/wmode/self_learning?id_praktiki=1&token=FDC3D596016D481AE0530718000A4712">1 Тренажер по углубленному изучению языка SQL</a>
</div>
<div>
    <a href="/wmode/defence">4 Клиентское приложение для защиты лабораторных работ </a>
</div>
<div>
    <a href="/wmode/test">3 Клиентское приложение для контрольной работы</a>
</div>
<div>
    <a href="/wmode/debug">2 Приложение учебного сервиса для отладки SQL-запросов из лабораторных работ </a>
</div>
<div>
    <a href = "/wmode/mysolutions">5 Просмотр результов</a>
</div>

{% endblock %}